
<%= simple_form_for(@alumno) do |f| %>
  <%= f.error_notification %>
<div class="container">
  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.input :tipo_identificacion, collection: ["T.I. - Tarjeta de Identidad","C.C. - Cédula de Ciudadania","C.I. - Cédula de Identidad", "T.P. - Tarjeta Pasaporte", "R.C. - Registro Civil","C.E. - Cédula Extranjería" ], include_blank: false %>
      </div>
      <div class="col">
        <%= f.input :identificacion %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :nombre %>
      </div>
      <div class="col">
        <%= f.input :apellido %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :fecha_n, as:  :date, label: "Fecha de Nacimiento" %>
      </div>
      <div class="col">
        <%= f.input :tipo_sangre, label: "Tipo de Sangre", collection: ["O-","O+","A-","A+","B-","B+","AB-","AB+"], include_blank: false %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :barrio %>
      </div>
      <div class="col">
        <%= f.input :direccion %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :email %>
      </div>
      <div class="col">
        <%= f.input :telefono %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :celular %>
      </div>
      <div class="col">
        <%= f.input :genero, as: :radio_buttons, collection: ["Masculino","Femenino"] %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.association :curso, include_blank: "Seleccion un curso" %>
      </div>
    </div>
  </div>

</div>
<div class="form-actions">
  <button type="submit" class="btn btn-primary btn-lg btn-block">
    <%= fa_icon "save", text:"Guardar" %>
  </button>
</div>
<% end %>
