<div class="container">
	<h1 class="pt-3 text-center">
		Actualizar Estudiante
		<%= link_to alumnos_path, class: "btn btn-ligth float-left mt-2" do %>
			<%= fa_icon "chevron-left", text:"Atrás" %>
		<% end %>
	</h1>
	<hr>
</div>

<%= render 'form', alumno: @alumno %>

<div class="container">
	<%= link_to alumnos_path, class: "btn btn-ligth mb-3 mt-3" do %>	
		<%= fa_icon "chevron-left", text: "Atrás" %>
	<% end %>
</div>

