<p id="notice"><%= notice %></p>

<h1>Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo identificacion</th>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Genero</th>
      <th>Email</th>
      <th>Fecha n</th>
      <th>Tipo sangre</th>
      <th>Direccion</th>
      <th>Barrio</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.tipo_identificacion %></td>
        <td><%= alumno.identificacion %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td><%= alumno.genero %></td>
        <td><%= alumno.email %></td>
        <td><%= alumno.fecha_n %></td>
        <td><%= alumno.tipo_sangre %></td>
        <td><%= alumno.direccion %></td>
        <td><%= alumno.barrio %></td>
        <td><%= alumno.telefono %></td>
        <td><%= alumno.celular %></td>
        <td><%= link_to 'Show', alumno %></td>
        <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno', new_alumno_path %>
