<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo identificacion:</strong>
  <%= @alumno.tipo_identificacion %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @alumno.identificacion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.apellido %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @alumno.genero %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alumno.email %>
</p>

<p>
  <strong>Fecha n:</strong>
  <%= @alumno.fecha_n %>
</p>

<p>
  <strong>Tipo sangre:</strong>
  <%= @alumno.tipo_sangre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @alumno.direccion %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @alumno.barrio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @alumno.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @alumno.celular %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
