<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo identificacion:</strong>
  <%= @acudiente.tipo_identificacion %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @acudiente.identificacion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @acudiente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @acudiente.apellido %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @acudiente.genero %>
</p>

<p>
  <strong>Email:</strong>
  <%= @acudiente.email %>
</p>

<p>
  <strong>Fecha n:</strong>
  <%= @acudiente.fecha_n %>
</p>

<p>
  <strong>Tipo sangre:</strong>
  <%= @acudiente.tipo_sangre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @acudiente.direccion %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @acudiente.barrio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @acudiente.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @acudiente.celular %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @acudiente.parentesco %>
</p>

<%= link_to 'Edit', edit_acudiente_path(@acudiente) %> |
<%= link_to 'Back', acudientes_path %>
