<p id="notice"><%= notice %></p>

<h1>Docentes</h1>

<table>
  <thead>
    <tr>
      <th>Tipo identificacion</th>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Genero</th>
      <th>Email</th>
      <th>Fecha n</th>
      <th>Tipo sangre</th>
      <th>Direccion</th>
      <th>Barrio</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docentes.each do |docente| %>
      <tr>
        <td><%= docente.tipo_identificacion %></td>
        <td><%= docente.identificacion %></td>
        <td><%= docente.nombre %></td>
        <td><%= docente.apellido %></td>
        <td><%= docente.genero %></td>
        <td><%= docente.email %></td>
        <td><%= docente.fecha_n %></td>
        <td><%= docente.tipo_sangre %></td>
        <td><%= docente.direccion %></td>
        <td><%= docente.barrio %></td>
        <td><%= docente.telefono %></td>
        <td><%= docente.celular %></td>
        <td><%= link_to 'Show', docente %></td>
        <td><%= link_to 'Edit', edit_docente_path(docente) %></td>
        <td><%= link_to 'Destroy', docente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Docente', new_docente_path %>
