<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo identificacion:</strong>
  <%= @docente.tipo_identificacion %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @docente.identificacion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @docente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @docente.apellido %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @docente.genero %>
</p>

<p>
  <strong>Email:</strong>
  <%= @docente.email %>
</p>

<p>
  <strong>Fecha n:</strong>
  <%= @docente.fecha_n %>
</p>

<p>
  <strong>Tipo sangre:</strong>
  <%= @docente.tipo_sangre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @docente.direccion %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @docente.barrio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @docente.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @docente.celular %>
</p>

<%= link_to 'Edit', edit_docente_path(@docente) %> |
<%= link_to 'Back', docentes_path %>
